* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.25fr 4fr 2fr;
    grid-template-rows: 1fr 6fr;
}

nav {
    background-color: bisque;
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 2fr 2fr;
    justify-content: center;
}

#logo {
    display: grid;
}

#logo li {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
}

#mid li,
#bottom li {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-auto-rows: 50px;
}

ul {
    list-style-type: none;
}


header {
    background-color: brown;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    gap: 1rem;
    padding: 0.5rem 1rem 1rem 2rem;
}

#header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#search {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

#search img {
    padding: 16px;
}

#search-input {
    outline: none;
    height: 60%;
    padding: 0 8px 0px 8px;
    font-size: 16px;
    border-radius: 8rem;
    border-style: none;
}

#search-input:focus-visible {
    border: 2px solid #0776fe;
}

#user-center {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 1fr;
    align-items: center;
    padding-left: 2rem;
}

#user-center img:nth-child(2) {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#header-bottom {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    align-items: center;
}

#main-usr img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#usr-welcome {
    display: grid;
    gap: 0.5rem;
}

#usr-welcome p:nth-child(1) {
    font-size: 14px;
}

#usr-welcome p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

#btns {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(3, 0.2fr);
    justify-items: left;
}

#btns button {
    display: inline-block;
    padding: 0 60px;
    height: 40px;
    border-radius: 1rem;
    border: 1px solid black;
    outline: none;
}

#sect_projects {
    background-color: orange;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 1rem 2rem 0rem 2rem;
}

#projects_container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px 16px;
    height: max(600px);
}

.project_card {
    background-color: #fff;
    display: grid;
    gap: 2rem 1rem;
    grid-template-rows: 1fr auto;
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
    padding: 16px 0 0 16px;
    border-left: 8px solid;
    border-radius: 8px;
}

.card-head p {
    padding-top: 0.5rem;
}

#news {
    display: grid;
    padding: 1rem 2rem 0 2rem;
    background-color: blueviolet;
    place-content: flex-start;
    gap: 2.25rem;
}

#announcement h2 {
    padding-bottom: 0.75rem;
}


#card-container {
    display: grid;
    gap: 1.25rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
}

.card-item p {
    padding-top: 0.25rem;
}

.card-item hr {
    border: 0.5px solid rgb(182, 185, 200);
    margin-top: 0.75rem;
}

#userList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.profile {
    display: grid;
    grid-template-columns: 50px 2fr;
    gap: 10px;
    align-items: center;
}

.pic-box {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.pic-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}