@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&family=Quicksand:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 1fr 6fr;
}

h2 {
    font-family: "Lexend", sans-serif;
    font-weight: 700;
}

h4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

p {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
}

#userName {
    font-size: 20 px;
    font-weight: bold;
}

nav {
    background-color: #1992d4;
    color: #fff;
    display: grid;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 2fr 2fr;
    place-content: flex-start;
    padding-left: 2rem;
    gap: 1rem;
}

nav h1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
}


nav li p{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#logo {
    display: grid;
}

#logo li {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 1rem;
    padding-left: 16px;
}

#logo h1 {
    font-size: 24px;
}

#mid li,
#bottom li {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 50px;
    align-items: center;
    padding-left: 16px;
}

#mid li:hover, #bottom li:hover{
    background-color: #015789;
    border-radius: 8px;
}

#mid li:nth-child(1){
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
}

ul {
    list-style-type: none;
}

#mid, #bottom {
    display: grid;
    gap: 1rem;
}

#bottom {
    padding-top: 4rem;
    grid-template-rows: repeat(3, 50px);
}


header {
    background-color: #fff;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    gap: 1rem;
    padding: 0.5rem 1rem 1rem 2rem;
}

#header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#search {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

#search img {
    padding: 16px;
}

#search-input {
    background-color: #DEE6EC;
    outline: none;
    height: 60%;
    padding: 0 8px 0px 8px;
    font-size: 16px;
    border-radius: 8rem;
    border-style: none;
}

#search-input:focus-visible {
    border: 2px solid #0776fe;
}

#user-center {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 1fr;
    align-items: center;
    padding-left: 2rem;
}

#user-center img:nth-child(2) {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#header-bottom {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr;
    align-items: center;
}

#main-usr img {
    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.main_usr-pic {
    background-color: #0056a1;
}

#usr-welcome {
    display: grid;
    gap: 0.5rem;
}

#usr-welcome p:nth-child(1) {
    font-size: 18px;
}

#usr-welcome p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
}

#btns {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 0.15fr);
    place-content: end;
    padding-right: 2rem;
}

#btns button {
    background-color: #027cc2;
    color: #fff;
    display: inline-block;
    height: 38px;
    border-radius: 1rem;
    border: none;
    outline: none;
}

#btns button:hover {
    background-color: #015789;
}

#sect_projects {
    background-color: #e2e8f0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 1rem 2rem 0rem 2rem;
}

#sect_projects p, .user p {
    color: #7d7e8a;
}

#projects_container {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px 16px;
    height: max(600px);
}

.project_card {
    background-color: #fff;
    display: grid;
    gap: 2rem 1rem;
    grid-template-rows: 1fr auto;
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
    padding: 16px 8px 8px 16px;
    border-left: 8px solid #f0b429;
    border-radius: 8px;
}

.card-head p {
    padding-top: 0.5rem;
}

.card-icons {
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: end;
    gap: 1rem;
    padding-right: 1rem;
}

.card-icons img {
    width: 24px;
    transition: transform .5s ease-in-out;
}

.card-icons img:nth-child(1):hover {
    filter: brightness(0) saturate(100%) invert(78%) sepia(77%) saturate(1753%) hue-rotate(349deg) brightness(111%) contrast(96%);
}

.card-icons img:nth-child(2):hover {
    animation: blink .3s ease-in-out forwards;
}

.card-icons img:nth-child(3):hover {
    transform: rotate(360deg);
}

#news {
    display: grid;
    padding: 1rem 2rem 0 2rem;
    background-color: #e2e8f0;
    place-content: flex-start;
    gap: 2.25rem;
}

#announcement {
    display: grid;
    gap: 0.5rem;
}


#card-container {
    background-color: #f6f6f6;
    display: grid;
    gap: 1.25rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
}

.card-item p {
    padding-top: 0.25rem;
    font-size: 14px;
    color: #7d7e8a;
}

.card-item hr {
    border: 0.5px solid rgb(182, 185, 200);
    margin-top: 0.75rem;
}

#Trending {
    display: grid;
    gap: 0.5rem;
}

#userList {
    background-color: #f6f6f6;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    padding: 0.5rem 0 1rem 0;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 5px rgb(145, 145, 145);
}

.profile {
    display: grid;
    grid-template-columns: auto 2fr;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}

.pic-box {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.pic-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#roku {
    background-color: #ffa600;
}

#wan {
    object-fit: contain;
    background-color: #FFE65B;
}

#korra {
    background-color: #00BD00;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}